.middle {
    display: flex;
    flex-direction: column;
    width: 50%;
}     

.middle-top {
    border: 1px dashed purple;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.middle-bottom {
    border: 1px dashed blue;
    height: 90vh;
}