.left {
    display: flex;
    flex-direction: column;
    width: 25%;
}     

.left-top {
    border: 1px solid orange;
    height: 50vh;
}

.left-bottom {
    border: 1px solid red;
    height: 50vh;
}