.right {
    display: flex;
    flex-direction: column;
    width: 25%;
}     

.right-top {
    border: 1px dashed yellow;
    height: 60vh;
}

.right-bottom {
    border: 1px dashed pink;
    height: 40vh;
}